{{#each posts}}
    <h1>{{this.title}}</h1>
    <p>Posted by {{author}} on {{this.createdAt}}</p>
    <p>{{this.post_text}}</p>
    {{#if post_comment_text}}
    <blockquote>
        <p>{{this.post_comment_text}}</p>
        <cite>- {{commenter}} on {{comment_date}}</cite>
    </blockquote>
    {{/if}}
{{/each}}