{{#each posts}}
    <h1>{{this.title}}</h1>
    <p>Posted by {{this.user.username}} on {{this.createdAt}}</p>
    <p>{{this.post_text}}</p>
    {{#if this.comments.length}}
    {{#each this.comments}}
    <blockquote>
        <p>{{this.comment_text}}</p>
        <cite>- {{this.user.username}} on {{this.created_at}}</cite>
    </blockquote>
    {{/each}}
    {{/if}}
{{/each}}